@charset "utf-8";

* {
    margin: 0;
    padding: 0;
}

body {
    margin: 10px;
}

.titulo {
    writing-mode: vertical-lr;
    transform: rotate(180deg);
    height: 310px;
    width: 50px;
    float: left;
}

.containerCartas {
    float: left;
}

.carta {
    color: rgb(255, 255, 255);
    width: 150px;
    height: 150px;
    margin: 0 0 10px 10px;
    float: left;
}

.mensagem {
    margin: 0 0 0 60px;
    float: left;
}

.menu {
    margin: 10px 0 0 60px;
    float: left;
}

.clear {
    clear: left;
}

.visivel {
    transition: 500ms;
    background-image: url(/imagens/00.jpg);
}

.oculta {
    background-image: url(/imagens/00.jpg);
    transition: 500ms;
}