@charset "utf-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    font-size: 14px;
    margin: auto;
    height: 100vh;
    width: 100vh;
}

.container {
    display: flex;
    flex-wrap: wrap;
    /* width: 70%; Adicionar em um novo container*/
}

.item {
    padding-top: 25%;
    flex-basis: 25%;
    perspective: 1000px;
}

.carta {
    transition: 0.5s;
    transform-style: preserve-3d;
    position: absolute;
    top: 0;
    width: 95%;
    height: 95%;
}

.frente {
    background-image: linear-gradient(90deg, transparent 50%, #ffffff20 50%);
    background-color: brown;
    background-size: 10% 10%;
}

.verso {
    transform: rotateY(180deg);
    background-size: cover;
}

.frente, .verso {
    border-radius: 5%;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    position: absolute;
    top: 0;
}

.titulo {
    font-size: 3.2vh;
    writing-mode: vertical-lr;
    transform: rotate(180deg);
    width: 10%;
    float: left;
}

.clear {
    /*clear: left;*/
}

.mensagem {
    /*margin: 0 0 0 60px;
    float: left;*/
}

.menu {
    /*margin: 10px 0 0 60px;
    float: left;*/
}